{{define "index" -}}
<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>ShakeSearch</title>
  <link rel="stylesheet" href="{{.AssetsPrefix}}/style.css">
  <meta name="theme-color" content="#fafafa">
  <script src="https://kit.fontawesome.com/692d0a4337.js" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap" rel="stylesheet">
</head>

<body>
  <main id="main">
    <div id="logo">Shakesearch</div>
    <div id="grid">
      <div id="search-container">
        <div id="search">
          <form id="form">
            <div><i class="fas fa-search"></i></div>
            <input type="text" id="query" name="query" placeholder="What art thee looking f'r?">
            <button type="submit"><i class="fas fa-arrow-right"></i></button>
          </form>
          <img id="search-underline" src="{{.AssetsPrefix}}/search-underline.png" width=500px>
        </div>
      </div>
      <div id="preview"></div>
      <div id="search-results">        
        <table id="table">
          <tbody id="table-body"></tbody>
        </table>
        <div id="page-controls">
          <span>Page123:</span>
          <div id="page-buttons"></div>
        </div>
      </div>
    </div>
    <img id="shakespeare" src="{{.AssetsPrefix}}/shakespeare.png">
  </main>
  <script id="base-url" type="application/json">{"BASE_URL": "{{.BaseURL}}"}</script>
  <script src="{{.AssetsPrefix}}/app.js"></script>
</body>

</html>
{{- end}}